.contain{
display: flex;
flex-direction: row;
height: 100vh;
width: 100%;
}
.side{
flex: 1;
max-width: 300px;
display: flex;
flex-direction: column;
height: 100vh;
}
.main{
flex: 2;
background: mistyrose
}
.up{
flex: 1;
max-height: 150px;
}
.down{
background: gray;
flex: 2;
}
.block {
        height: 100%;
      }
 nav ul li a:hover, nav ul li a.active {
        background-color: rgba(0,0,0,.1);
      }
.pc{
    margin: 20px;

}